.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.prototypeImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.prototypeImages img {
  width: 22%;
}

.prototypeImages iframe {
  width: 46%;
}

.prototypeImages .buildImg {
  width: 40%;
  height: 30%;
}

.prototypeButtons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .prototypeImages {
    justify-content: center;
    flex-direction: column;
  }

  .prototypeImages img {
    margin-top: 1.5em;
    width: 90%;
  }

  .prototypeImages iframe {
    width: 90%;
  }

  .prototypeImages .buildImg {
    width: 35%;
  }

  .prototypeButtons {
    flex-direction: column;
  }
}

@media screen and (max-width: 525px) {
  .prototypeImages .buildImg {
    width: 50%;
  }
}

.secondaryContainer {
  padding: 1rem;
  background-color: var(--ifm-color-secondary-background);
}

.primaryContainer {
  padding: 1rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-content-inverse);
}
