.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.secondaryContainer {
  padding: 1rem;
  background-color: var(--ifm-color-secondary-background);
}

.primaryContainer {
  padding: 1rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-content-inverse);
}
